:root {
  --global-padding: 0 1rem;
  --global-gap: 1rem;

  /* color */
  --white: #fff;
  --black: #000;
  --blue: #0866ff;
}

body > #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--global-gap);
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
