.product-page {
  padding: var(--global-padding);
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  .camera {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) / 2);

    .barcode {
      display: flex;
      justify-content: space-between;
    }
  }
}
